{% extends 'base.html' %}
{% block content %}
<h2>Add a review</h2>
<form method="post" action="{% url 'djangoapp:add_review' dealer_id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="content">{{ form.review.label }}</label>
        {{ form.review }}
    </div>
    <div class="form-group">
        <label for="purchase">{{ form.purchase.label }}</label>
        {{ form.purchase }}
    </div>
    <div class="form-group">
        <label for="car">{{ form.car.label }}</label>
        {{ form.car }}
    </div>
    <div class="form-group">
        <label for="purchasedate">{{ form.purchase_date.label }}</label>
        {{ form.purchase_date }}
    </div>
    <button type="submit" class="btn btn-primary">Submit review</button>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $("#purchasedate").datepicker({
            dateFormat: "dd-mm-yy"
        });
    });
</script>
{% endblock %}